<div *ngIf="carregando">
  <mat-spinner></mat-spinner>

</div>

<mat-card class="dashboard-card" *ngIf="!carregando">
  <mat-card-header >
    <img mat-card-avatar style="background-size: cover !important; margin-top:15px;" [src]="aluno.FOTO_URL">
    <mat-card-title class="name">{{ aluno.NOME.replace("-", "") }}</mat-card-title>
    <mat-card-subtitle>{{ aluno.REGISTRO_ACADEMICO }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div >
      <p><strong>Email:</strong> {{ aluno.EMAIL }}</p>
      <p><strong>Unidade:</strong> {{ aluno.FATEC_UNIDADE }}</p>
      <p><strong>Curso:</strong> {{ aluno.CURSO }} - {{aluno.CICLO}}° periodo</p>
      <p><strong>Turno:</strong> {{ aluno.TURNO }}</p>
    </div>
    
  </mat-card-content>
  
</mat-card>
