
/* Estilo para o container das disciplinas */
.disciplinas-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 10px;
  }
  
  /* Estilo para o card da disciplina */
  .mat-card {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .mat-card-content {
    padding: 10px;
  }
  
  h3 {
    margin: 0;
    margin-bottom: 10px;
    color: #333333;
  }
  
  p {
    margin: 0;
  }
  
  strong {
    color: #007bff;
  }
  